* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.ban {
  margin: 0 10px;
}
.webkit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

