@font-face {
  font-family: "iconfont"; /* Project id 2956863 */
  src: url('iconfont.woff2?t=1662302498002') format('woff2'),
       url('iconfont.woff?t=1662302498002') format('woff'),
       url('iconfont.ttf?t=1662302498002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.5rem;
  color: rgb(172, 170, 170);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e607";
}

.icon-erji:before {
  content: "\e600";
}

.icon-liebiao2:before {
  content: "\e601";
}

.icon-circleyuanquan:before {
  content: "\e71e";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-paihang:before {
  content: "\e611";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-liebiao:before {
  content: "\e88f";
}

.icon-yijianfankui:before {
  content: "\e8a1";
}

.icon-renqi:before {
  content: "\e6a5";
}

.icon-aihao:before {
  content: "\e635";
}

.icon-jiarushujia_01:before {
  content: "\e65d";
}

.icon-iconyihuifu-:before {
  content: "\e621";
}

.icon-zuanshi_o:before {
  content: "\eb70";
}

.icon-jiarushujia:before {
  content: "\e60f";
}

.icon-huanyihuan:before {
  content: "\e636";
}

.icon-sanjiaoxing:before {
  content: "\e6bd";
}

.icon-jiugongge:before {
  content: "\e60a";
}

.icon-lianxi:before {
  content: "\e66f";
}

.icon-lishijilu:before {
  content: "\e604";
}

.icon-daka:before {
  content: "\e66c";
}

.icon-daoru:before {
  content: "\e65e";
}

.icon-daoxu-:before {
  content: "\e61f";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-yunlishi:before {
  content: "\e665";
}

.icon-duideyuanquan:before {
  content: "\e69a";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-icon_shuchengnor:before {
  content: "\e605";
}

.icon-icon_shujianor:before {
  content: "\e606";
}

